#token-hud .status-effects {
  visibility: hidden;
  position: absolute;
  left: 50px;
  top: 0;
  display: grid;
  padding: 3px;
  box-sizing: content-box;
  width: 210px;
  grid-template-columns: 30px 30px 30px 30px 30px 30px 30px;
  background: rgba(0, 0, 0, 0.6);
  box-shadow: 0 0 15px #000;
  border: 1px solid #333;
  border-radius: 4px;
  pointer-events: all;
}
#token-hud .status-effects.active {
  visibility: visible;
}
#token-hud .status-effects .effect-control {
  width: 29px;
  height: 29px;
  margin: 0;
  padding: 0;
  border: none;
  opacity: 0.5;
}
#token-hud .status-effects .effect-control:hover {
  opacity: 0.75;
}
#token-hud .status-effects .effect-control.active {
  opacity: 1;
}
#token-hud .status-effects .effect-control.overlay {
  opacity: 1;
  border: 1px solid #ff6400;
}